<header class="main-header">
  <h1>System Komunikacji UKNF</h1>

  <nav class="debug-nav">
    <strong>Przełącz widok (jako Osoba 4):</strong>
    <button (click)="pokazSkrzynke()" [class.aktywny]="glownyWidok() === 'skrzynka'">
      Widok Użytkownika (Skrzynka)
    </button>
    <button (click)="pokazAdmina()" [class.aktywny]="glownyWidok() === 'admin'">
      Widok Administratora
    </button>
  </nav>
  
</header>

<main>
  
  @if (glownyWidok() === 'skrzynka') {
    <app-skrzynka-panel></app-skrzynka-panel>
  }

  @if (glownyWidok() === 'admin') {
    <app-admin-panel></app-admin-panel>
  }
  
</main>

<router-outlet></router-outlet>