@if (!zalogowanaRola()) {
  <app-login (udaneLogowanie)="handleUdaneLogowanie($event)"></app-login>
}

@if (zalogowanaRola()) {
  
  <header class="main-header">
    <h1>System Komunikacji UKNF</h1>
    <button (click)="wyloguj()" class="button-wyloguj">
      Wyloguj (jako: {{ zalogowanaRola() }})
    </button>
  </header>

  <main>
    @if (zalogowanaRola() === 'admin') {
      <app-admin-panel></app-admin-panel>
    }

    @if (zalogowanaRola() === 'uzytkownik') {
      <app-skrzynka-panel></app-skrzynka-panel>
    }
  </main>

  <router-outlet></router-outlet>
}