<div class="admin-container">
  
  <nav class="sidebar">
    <div class="sidebar-header">
      <h2>Panel Admina</h2>
      <span>(UKNF)</span>
    </div>
    
    <ul class="nav-menu">
      <li 
        (click)="zmienWidokGlowny('wiadomosci')" 
        [class.active]="widokGlowny() === 'wiadomosci'">
        Wiadomości
      </li>
      <li 
        (click)="zmienWidokGlowny('podmioty')" 
        [class.active]="widokGlowny() === 'podmioty'">
        Podmioty
      </li>
      <li 
        (click)="zmienWidokGlowny('grupy')" 
        [class.active]="widokGlowny() === 'grupy'">
        Grupy
      </li>
      <li 
        (click)="zmienWidokGlowny('uzytkownicy')" 
        [class.active]="widokGlowny() === 'uzytkownicy'">
        Użytkownicy
      </li>
    </ul>
    
    <div class="sidebar-footer">
      <button (click)="wyloguj()" class="button-wyloguj">
        Wyloguj
      </button>
    </div>
  </nav>

  <main class="content">
    
    @if (widokGlowny() === 'wiadomosci') {
      <div class="view-container">
        
        @if (widokPodrzedny() === 'list') {
          <app-wiadomosci-list 
            #wiadomosciList
            (zobaczWatek)="zobaczWatek($event)"> </app-wiadomosci-list>
        }

        @if (widokPodrzedny() === 'watek') {
          <app-wiadomosc-watek
            [watekId]="wybranyWatekId()"
            (powrot)="handlePowrotZFormularza()">
          </app-wiadomosc-watek>
        }
        
      </div>
    }

    @if (widokGlowny() === 'podmioty') {
      <div class="view-container">
        @if (widokPodrzedny() === 'list') {
          <app-podmioty-list 
            #podmiotList
            (startEdycji)="rozpocznijEdycjePodmiotu($event)"
            (dodajNowy)="pokazFormularz()">
          </app-podmioty-list>
        }
        @if (widokPodrzedny() === 'form') {
          <app-podmiot-form 
            [podmiotDoEdycji]="edytowanyPodmiot()"
            (powrot)="handlePowrotZFormularza()">
          </app-podmiot-form>
        }
      </div>
    }

    @if (widokGlowny() === 'grupy') {
      <div class="view-container">
        @if (widokPodrzedny() === 'list') {
          <app-grupy-list 
            #grupaList
            (zarzadzajGrupa)="rozpocznijZarzadzanieGrupa($event)"
            (dodajNowy)="pokazFormularz()">
          </app-grupy-list>
        }
        @if (widokPodrzedny() === 'form') {
          <app-grupa-form 
            (powrot)="handlePowrotZFormularza()">
          </app-grupa-form>
        }
        @if (widokPodrzedny() === 'details') {
          <app-grupa-details 
            [grupa]="edytowanaGrupa()!"
            (powrot)="handlePowrotZFormularza()">
          </app-grupa-details>
        }
      </div>
    }

    @if (widokGlowny() === 'uzytkownicy') {
      <div class="view-container">
        @if (widokPodrzedny() === 'list') {
          <app-uzytkownicy-list 
            #userList
            (startEdycji)="rozpocznijEdycjeUzytkownika($event)"
            (dodajNowy)="pokazFormularz()">
          </app-uzytkownicy-list>
        }
        @if (widokPodrzedny() === 'form') {
          <app-uzytkownicy-form 
            [userDoEdycji]="edytowanyUzytkownik()"
            (powrot)="handlePowrotZFormularza()">
          </app-uzytkownicy-form>
        }
      </div>
    }
  </main>
</div>