<div class="form-container">
  <h2>Nowa Grupa Podmiotów</h2>
  
  <form [formGroup]="form" (ngSubmit)="zapisz()">
    
    <div class="form-group">
      <label>Nazwa Grupy *</label>
      <input 
        type="text" 
        class="form-input" 
        formControlName="nazwa" 
        placeholder="np. Banki Komercyjne"
      />
      @if (form.get('nazwa')?.hasError('minlength')) {
        <div style="color: red; font-size: 0.8em; margin-top: 5px;">
          Nazwa musi mieć min. 3 znaki.
        </div>
      }
    </div>

    <div class="form-actions">
      <button type="button" class="button button-secondary" (click)="anuluj()">Anuluj</button>
      <button type="submit" class="button button-primary" [disabled]="form.invalid">Zapisz Grupę</button>
    </div>

  </form>
</div>