<header class="main-header">
  <h1>System Komunikacji UKNF</h1>
  <button (click)="wyloguj()" class="button-wyloguj">
    Wyloguj
  </button>
</header>

<div class="skrzynka-container">

  @if (widok() === 'lista') {
    
    <div class="lista-header">
      <h2>Skrzynka Odbiorcza</h2>
      <button class="button button-primary" (click)="pokazFormularzNowejWiadomosci()">
        + Nowa Wiadomość
      </button>
    </div>

    <div class="placeholder-content">
      <p>Wkrótce tutaj pojawi się lista Twoich komunikatów.</p>
    </div>
  }

  @if (widok() === 'formularz') {
    
    <app-nowa-wiadomosc-form 
      (powrot)="handlePowrotDoListy()">
    </app-nowa-wiadomosc-form>
  }
  </div>