<div class="table-container">
  <div class="header-actions">
    <h2>Lista Podmiotów Nadzorowanych</h2>
    <button (click)="dodajPodmiot()" class="btn-add">+ Dodaj Podmiot</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Nazwa Podmiotu</th>
        <th>NIP / REGON</th>
        <th>Status</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody>
      @for (p of podmioty(); track p.id) {
        <tr>
          <td><strong>{{ p.nazwa }}</strong></td>
          <td>
            <div>NIP: {{ p.nip }}</div>
            <div style="font-size: 0.8em; color: gray">REGON: {{ p.regon }}</div>
          </td>
          <td>
             @if (p.isActive) {
              <span style="color: green; font-weight: bold;">Aktywny</span>
            } @else {
              <span style="color: red; font-weight: bold;">Zablokowany</span>
            }
          </td>
          <td>
            <button (click)="edytuj(p.id)" class="btn-link">Edytuj</button>
          </td>
          <td>
            <button (click)="zmienStatus(p)" class="btn-link" 
              [style.color]="p.isActive ? 'red' : 'green'">
              {{ p.isActive ? 'Zablokuj' : 'Odblokuj' }}
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>